.new-incident-container {
	width: 100%;
	max-width: 1120px;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		justify-content: flex-start;
		overflow: hidden;
	}
	.content {
		width: 100%;
		padding: 96px;
		background: #f0f0f5;
		box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		section {
			width: 100%;
			max-width: 380px;
			.logo {
			}
			h1 {
				margin: 64px 0 32px;
				font-size: 32px;
			}
			p {
				font-size: 18px;
				color: #737380;
				line-height: 32px;
			}
		}

		form {
			width: 100%;
			max-width: 450px;
			input {
				margin-top: 8px;
			}
			.button-group {
				a {
					margin-right: 10px;
					background: #fff;
					height: 58px;
					line-height: 58px;
					border: 1px solid #e02041;
					color: #e02041;
				}
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
