.profile-container {
	width: 100%;
	max-width: 1180px;
	padding: 0 30px;
	margin: 32px auto;

	header {
		display: flex;
		align-items: center;
		.logo {
			height: 64px;
		}
		span {
			font-size: 20px;
			margin-left: 24px;
		}
		a {
			max-width: 260px;
			margin-left: auto;
			margin-top: 0;
		}
		button {
			height: 60px;
			width: 60px;
			border-radius: 8px;
			border: 1px solid #dcdce6;
			background: transparent;
			margin-left: 16px;
			transition: all 0.2s;
			&:hover {
				border-color: #999;
			}
		}
	}

	h1 {
		margin-top: 80px;
		margin-bottom: 24px;
	}

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
		li {
			position: relative;
			background: #fff;
			padding: 24px;
			border-radius: 8px;

			strong {
				text-transform: uppercase;
				font-weight: 700;
				display: block;
				margin-bottom: 16px;
				color: #41414d;
				margin-top: 32px;
				&:first-child {
					margin-top: 0;
				}
			}
			button {
				border: 0;
				background: transparent;
				position: absolute;
				top: 24px;
				right: 24px;
				transition: all 0.4s;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
