@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font: 400 14px Roboto, sans-serif;
	background: #f0f0f5;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	font: 400 18px Roboto, sans-serif;
}

button {
	cursor: pointer;
}

form {
	textarea,
	input {
		width: 100%;
		height: 60px;
		color: #333;
		border: 1px solid #dcdce6;
		border-radius: 8px;
		padding: 0 24px;
	}

	textarea {
		margin-top: 10px;
		min-height: 140px;
		line-height: 24px;
		padding: 24px;
		resize: none;
	}
}

.button {
	width: 100%;
	height: 60px;
	background: #e02041;
	border: 0;
	border-radius: 8px;
	color: #fff;
	font-weight: 700;
	margin-top: 16px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	transition: all 0.6s;
	&:hover {
		filter: brightness(90%);
	}
}

.link {
	display: flex;
	align-items: center;
	margin-top: 40px;
	color: #41414d;
	font-size: 18px;
	text-decoration: none;
	font-weight: 500;
	transition: all 0.6s;
	opacity: 1;
	&:hover {
		opacity: 0.8;
	}
	svg {
		margin-right: 8px;
	}
	@media screen and (max-width: 768px) {
		justify-content: center;
	}
}
