.logon-container {
	width: 100%;
	max-width: 1120px;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		justify-content: flex-start;
		overflow: hidden;
	}

	.form {
		width: 100%;
		max-width: 350px;
		margin: 30px;
		@media screen and (max-width: 768px) {
			text-align: center;
		}

		form {
			margin-top: 100px;

			.logo {
				width: 100%;
				max-width: 200px;
			}

			h1 {
				font-size: 23px;
				margin-bottom: 32px;
			}
		}
	}

	.heroes {
		width: 100%;
		max-width: 600px;
	}
}
